.header{
    background-color: #F2CD37;
}
.header-text{
    padding: 10px;
}
.header img {
    width: 50px;
}

.search-box, .cards-box, .modify-box{
    background-color: #F2CD37;
    border: 1px solid black;
    border-radius: 10px;
}

.card-img-top, .card-title{
    border: 1px solid black;
    border-radius: 10px;
}

.card-title {
    background-color: #F2CD37;
    padding: 5px;
    color: #C91A09;
}

.modify-box {
    margin-top: 20px;
}